.nav {
  /* aqui eu deixo para fazer as mudanças para o mobile, pois quando for passar para la vou precisar dar uma cara diferente para caber tudo na tela */
}
.nav__list {
  display: flex;
  gap: var(--space-5);
}
.nav__item {
  /*aqui a mesma coisa */
}
.nav__link {
  display: inline-block;
  padding: var(--space-1) 0;
  color: var(--color-text-muted);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}
.nav__link:hover { color: var(--color-text); }
.nav__link--active {
  color: var(--color-text);
  font-weight: var(--fw-bold);
}